/logs/
__pycache__/
/minellama/llm/model/
/minellama/llm/data/db/
/record_of_result*.txt
/log*.txt
/.DS_Store
logs/mineflayer/
/main_test.py
.env
/test.py
/exp_logs/
/minellama/llm/data/modified_minecraft_data/unused/
/minellama/agents/unused/
/minellama/unused/
/minellama/llm/data/chached_data/action/
/minellama/llm/data/chached_data/recipe/