/logs/
__pycache__/
/minellama/llm/model/
/minellama/llm/data/db/
/record_of_result*.txt
/log*.txt
/.DS_Store
logs/mineflayer/
/main_test.py
.env
/test.py
/create_key.py
/minellama/llm/data/modified_minecraft_data/unused/
/minellama/agents/unused/
/minellama/unused/
/experiment_results/
/forge-1/
/forge2_119/
/minecraft_server/
/minellama/llm/data/chached_data/action/
/minellama/llm/data/chached_data/recipe/
/minellama/llm/data/chached_data/extended_recipe/
/minellama/llm/data/chached_data/extended_recipe_full/
/minellama/llm/data/chached_data/result/
